{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="tw-min-h-[100vh] tw-w-full tw-overflow-x-hidden tw-flex tw-flex-col tw-leading-8 tw-items-center">
    
  
    <div class="tw-h-[100vh] tw-flex md:tw-flex-col tw-w-full max-sm:tw-max-h-fit tw-bg-[#ffb0ab] tw-p-3 tw-relative">
        
        <div class="tw-flex max-md:tw-flex-col tw-place-items-center tw-h-full">
            <div class="tw-ml-[10%] tw-flex tw-flex-col" style="font-family: 'Playfair Display', serif;">
                <div class="tw-font-bold tw-text-xl tw-fill-black">
                    {% comment %} <img src={% static './assets/logos/logo.png' %} class="!tw-fill-black" srcset=""> {% endcomment %}
                    
                    <img src="{% static 'assets/logos/logo.png' %}" alt="Logo" style="max-width: 100px;">
                </div>
                <div class="tw-font-[900] tw-text-6xl md:tw-text-8xl tw-text-black 
                            tw-whitespace-pre-line" style="font-family: 'Playfair Display', serif;">
                    Free And Open-Source Email Automation

                </div>

                <div class="tw-font-bold tw-text-xl">
                    for your cold mail campaigns.
                </div>
            </div>

            <div class="max-md:tw-hidden tw-mx-[auto] tw-flex tw-max-w-[40%] tw-max-h-[1000px]">
                <img src={% static './assets/images/email.svg' %} class="" srcset="">
            </div>
        </div>
    </div>

    <div class="tw-h-[100vh] tw-w-full max-sm:tw-max-h-fit tw-bg-[#ffffff] 
                tw-p-3 tw-relative tw-flex tw-flex-col ">
        
        <div class="tw-font-[900] tw-text-4xl md:tw-text-7xl tw-text-center tw-text-black 
        tw-whitespace-pre-line !tw-leading-tight" style="font-family: 'Playfair Display', serif;">
            Cold Campaign Made Easy
        </div>
                    
        <div class="tw-flex tw-w-full tw-place-content-center tw-mt-[10%] tw-font-sans tw-relative">
     
            <div class="tw-flow-chart tw-flex tw-items-center tw-flex-col md:tw-flex-row">
                <div class="tw-dot tw-bg-blue-500 tw-w-12 tw-h-12 tw-rounded-full tw-relative
                            max-sm:tw-w-6 max-sm:tw-h-6
                            ">
                    <div class="tw-absolute md:tw-bottom-[-70px] md:tw-left-[50%] md:tw-translate-x-[-50%]
                                max-sm:tw-bottom-[50%] max-sm:tw-translate-y-[50%] 
                                max-sm:tw-left-[110%] md:tw-text-2xl
                                tw-flex tw-w-max tw-font-semibold
                                "
                                >
                        Configure your email
                    </div>
                </div>
                <div class="tw-arrow tw-bg-blue-500 tw-w-2 tw-h-32 md:tw-w-60 md:tw-h-2"></div>
                <div class="tw-dot tw-bg-blue-500 tw-w-12 tw-h-12 tw-rounded-full tw-relative
                            max-sm:tw-w-6 max-sm:tw-h-6
                            ">
                    <div class="tw-absolute md:tw-bottom-[-70px] md:tw-left-[50%] md:tw-translate-x-[-50%]
                                max-sm:tw-bottom-[50%] max-sm:tw-translate-y-[50%] 
                                max-sm:tw-left-[110%] md:tw-text-2xl
                                tw-flex tw-w-max tw-font-semibold
                                "
                                >
                        Create a template
                    </div>
                </div>
                <div class="tw-arrow tw-bg-blue-500 tw-w-2 tw-h-32 md:tw-w-60 md:tw-h-2"></div>
                <div class="tw-dot tw-bg-blue-500 tw-w-12 tw-h-12 tw-rounded-full tw-relative
                             max-sm:tw-w-6 max-sm:tw-h-6
                            ">
                    <div class="tw-absolute md:tw-bottom-[-70px] md:tw-left-[50%] md:tw-translate-x-[-50%]
                                max-sm:tw-bottom-[50%] max-sm:tw-translate-y-[50%] 
                                max-sm:tw-left-[110%] md:tw-text-2xl
                                tw-flex tw-w-max tw-font-semibold
                                "
                                >
                        Schedule and send
                    </div>
                </div>
            </div>
    
        </div>

        <div class="tw-mx-[auto] tw-flex tw-max-w-[40%] tw-mt-[10%]">
            <a href="{% url "email-templates" %}?public=True" 
                class="tw-p-2 tw-border-solid tw-border-black tw-font-semibold tw-text-lg
                      hover:tw-bg-black hover:tw-text-white">
                Get Started
            </a>
        </div>
    </div>

    <div class="tw-h-[100vh] tw-w-full max-sm:tw-max-h-fit tw-bg-[#b9ffc2] 
                tw-p-3 tw-relative tw-flex tw-flex-col tw-place-content-center">
            <div class="tw-flex max-md:tw-flex-col tw-place-items-center tw-h-full">
                <div class="tw-ml-[10%] tw-flex tw-flex-col" style="font-family: 'Playfair Display', serif;">
                    <div class="tw-font-bold tw-text-xl tw-fill-black">
                        <img src="{% static 'assets/logos/logo.png' %}" alt="Logo" style="max-width: 100px;">
                    </div>
                    <div class="tw-font-[900] tw-text-4xl md:tw-text-6xl tw-text-black 
                                tw-whitespace-pre-line tw-leading-snug lg:tw-leading-normal" style="font-family: 'Playfair Display', serif;">
                        Send Business Inquires,
                        Resumes To Potential Employeers,
                        Send Winning College Applications,
                        And more.
    
                    </div>
    
                </div>
                <div class="tw-mx-[auto] tw-flex tw-max-w-[40%] tw-max-h-[1000px]">
                    <a href="{% url "email-templates" %}?public=True" 
                        class="tw-p-2 tw-border-solid tw-border-black tw-font-semibold tw-text-lg
                                 tw-bg-black tw-text-white hover:tw-text-black hover:tw-bg-white">
                        Browse Templates
                    </a>
                </div>
            </div>
    </div>

    <div class="tw-h-[100vh] tw-flex tw-flex-col tw-w-full max-sm:tw-max-h-fit tw-bg-[#ffb0ab] tw-p-3 ">
        
        <div class="tw-flex max-md:tw-flex-col tw-place-items-center tw-h-full">
            <div class="tw-ml-[10%] tw-flex tw-flex-col" style="font-family: 'Playfair Display', serif;">
                
                <div class="tw-font-[900] tw-text-4xl md:tw-text-6xl tw-text-black 
                            tw-whitespace-pre-line" style="font-family: 'Playfair Display', serif;">
                    Features Made For Your Perfect
                    Cold Campaign

                </div>

                <div class="tw-font-bold tw-text-xl">
                    Quick and easy
                </div>
            </div>

            <div class="tw-mx-[auto] tw-flex md:tw-max-w-[40%] max-sm:tw-mt-[5%]">
                <div class="tw-border-solid tw-min-w-[300px] tw-p-3 tw-rounded-md tw-list-none
                                tw-text-lg tw-gap-2 tw-leading-10
                            ">
                    <li class="bi bi-check">Create templates</li>
                    <li class="bi bi-check">Use existing templates</li>
                    <li class="bi bi-check">Personalize emails using variables</li>
                    <li class="bi bi-check">Schedule emails</li>
                    <li class="bi bi-check">Schedule follow ups</li>
                    <li class="bi bi-check">Set Follow up rule</li>
                </div>
            </div>
        </div>

        <div class="tw-mx-[auto] tw-flex tw-max-w-[40%]">
            <a href="{% url "email-templates" %}?public=True" 
                class="tw-p-2 tw-border-solid tw-border-black tw-font-semibold tw-text-lg
                      hover:tw-bg-black hover:tw-text-white">
                Get Started
            </a>
        </div>
    </div>

</div>
{% endblock content %}